@model nevIepProject.Models.Order

@{
    ViewBag.Title = "DetailsOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details Order</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>

        <dt>
            Order Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatu.Name)
        </dd>

        <dt>
           Order Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoftwareProduct.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoftwareProduct.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Get pdf", "ExportOrderToPdf", new { orderId = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
