@model IPagedList<nevIepProject.Models.SoftwareProduct>
@using Microsoft.AspNet.Identity
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @if (Request.IsAuthenticated && User.Identity.GetUserId() == System.Configuration.ConfigurationManager.AppSettings["AdminId"])
    { @Html.ActionLink("Create New", "Create");
    }
</p>

@using (Html.BeginForm())
{
    <p>
        <table>
            <tr>
                <td class="text-right">Find by product name: </td>
                <td>@Html.TextBox("productName")</td>
            </tr>
            <tr>
                <td class="text-right" id="price-from">Price from: </td>
                <td>@Html.TextBox("priceFrom")</td>
            </tr>
            <tr>
                <td class="text-right" id="price-to">Price to: </td>
                <td>@Html.TextBox("priceTo")</td>
            </tr>
            <tr>
                <td class="text-right"><input type="submit" value="Search" /></td>
                <td><input type="button" value="Reset" onclick="resetValues()" /></td>
            </tr>

        </table>
        <script>
            function resetValues() {
                document.getElementById('productName').value = '';
                document.getElementById('priceFrom').value = '';
                document.getElementById('priceTo').value = '';
            }
        </script>
    </p>
}

<br/> <br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Version)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.First().Description)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.First().Logo)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.First().Picture)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.First().Price)
        </th>
@if (Request.IsAuthenticated && User.Identity.GetUserId() == System.Configuration.ConfigurationManager.AppSettings["AdminId"])
{
        <th>
            @Html.DisplayNameFor(model => model.First().IsDeleted)
        </th>
}
        @*<th>
            @Html.DisplayNameFor(model => model.First().CreatedBy)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Version)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>*@
        <td>
                <image src="@item.Logo" height="100" />
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
@if (Request.IsAuthenticated && User.Identity.GetUserId() == System.Configuration.ConfigurationManager.AppSettings["AdminId"])
{
    <td>
        @Html.DisplayFor(modelItem => item.IsDeleted)
    </td>
}

        @*<td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>*@
        <td>
            @if (Request.IsAuthenticated && User.Identity.GetUserId() == System.Configuration.ConfigurationManager.AppSettings["AdminId"])
            { @Html.ActionLink("Edit", "Edit", new { id = item.Id }); } |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @if (Request.IsAuthenticated && User.Identity.GetUserId() == System.Configuration.ConfigurationManager.AppSettings["AdminId"])
            { @Html.ActionLink("Delete", "Delete", new { id = item.Id });}
        </td>
    </tr>
}

</table>

<br />
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount