@model IPagedList<nevIepProject.Models.Order>
@using Microsoft.AspNet.Identity
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "MyOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyOrders</h2>

@using (Html.BeginForm("ExportOrdersToXml", "SoftwareProducts", FormMethod.Get, new { enctype = "multipart/form-data" }))
{
    @Html.TextBox("from", DateTime.Now.AddMonths(-1).ToShortDateString(), new { type = "date" })
    @Html.TextBox("to", DateTime.Now.ToShortDateString(), new { type = "date" })
    <input type="submit" value="Get XML" />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().createdDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().AspNetUser.Email)
        </th>
        <th>
            Order Status
        </th>
        <th>
            Order Type
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatu.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderType.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "DetailsOrder", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<br />
@Html.PagedListPager(Model, page => Url.Action("MyOrders", new { userId = User.Identity.GetUserId(), page }))
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
